@import url('http://fonts.cdnfonts.com/css/univers-lt-std');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-size: 30%;
}
#canvas{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: radial-gradient(farthest-corner at 200px 150px, #19202b, #09090B 50%);
}
#reload{
    cursor: pointer;
    padding: 10px;
    user-select: none;
}
.off{
    display: none !important;
}
#wrapper{
    width: 500px;
    height: 500px;
    position: absolute;
    display: grid;
    place-items: center;
}
#controls{
    display: grid;
    place-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(25, 32, 43, 0.7);
    border-radius: 5px;
    color: #858585;
    padding: 15px;
    font-family: 'Univers LT Std', sans-serif;
    user-select: none;
}
h2{
    
    text-transform: uppercase;
    font-size: 18px;
}
h3{
    margin-bottom: 5px;
    font-size: 15px;
}
p{
    font-size: 12px;
}
#align{
    margin-top: 10px;
    display: none;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}
#controls:hover #align{
    display: flex;
    transition: all .2s ease-in-out;
    animation:show 1s forwards;
}
@keyframes show {
    0%   {opacity: 0;}
    100% { opacity: 1;}
  }